/* Global*/
body {
	background-color: #c6d1d3;
	padding-bottom: 50px;
	height:100%;
}
/* ALGEMEEN COL XS / SM / MD voor containers etc*/
.bg {
	background-color: #ecf0f1;
	overflow: hidden !important;
}
#container {
	margin: 0;
	padding: 0;
}
.col-sm-9, .col-md-9, .login {
	background-color: #eef2f5;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding-bottom: 20px
}
.uitgelicht-h4 {
	padding-left: 4px;
	border-left: 3px solid rgba(0, 188, 119, 0.5);
	/*border-right: 3px solid rgba(0, 188, 119, 0.5);*/
	line-height: 30px;
	border-radius: 3px;
}
/* EINDE CONTAINERS STYLING*/

/* INLOGPAGINA */
.hulp-nodig {
	margin-top: 10px;
}
.account-aanmaken{
	margin-top: ;	
}

/* PROFIEL*/
.profiel h3 {
	margin-top: 17px;
	margin-bottom: 1px;
}
.profielbox {
	margin-bottom: 15px;
}
.profielbox p {
	margin-top: 12px;
}
.profielfoto {
	margin-right: 5px;
	border: solid 3px rgba(0,0,0,0.1);
}
.profielfoto-user {
	height: 115px;
	width: 115px;
}
.profielfoto-menu {
	height:70px;
	width: 70px;
}
.uitloggen h4 {
	margin: 19px 0 0 0;
}
.logo {
	padding: 5px 0;
	margin: auto;
}
.tekstheader {
	width: 40%;
	height: auto;
	float:right;
}
.border {
	 border-right: 2px solid rgba(0,0,0,0.3);
}
.badgebg {
	background-color: #2ecc71;
}

/* GOOGLE MAPS */

#gmaps-canvas {
  height: 400px !important;
  margin: 10px 0 0 0;
  border: 1px solid #999;
  -moz-box-shadow:    0px 0px 5px #ccc;
  -webkit-box-shadow: 0px 0px 5px #ccc;
  box-shadow:         0px 0px 5px #ccc;
}
#gmaps-error {
  color: #cc0000;
}
#input #gmaps-output-latitude, #input #gmaps-output-longitude {
  color: green;
}
.col-md-5 {
	margin-bottom: 25px;
}

/*style for adding and removing contacts*/
#addperson {
	list-style: none;
	padding: 0;
	margin: 0;
}
li.invited {
	padding: 0 0 0 20px;
	line-height: 38px;
	font-weight: bold;
}
li.grey {
	background-color: #d9d9de;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin-top: 3px;
}

.number {
	display: none;
}

#hidden {

}

.error {
	border-color: red;
	box-shadow: 0 0 5px red;
}

.errortekstinput {
	color: red;
	font-weight: 12px;
}

.valid {
	border-color: green;
}


/*END style for adding and removing contacts*/

/* space between date & time div and the next ( type activiteit ) input */
.margin-for-date {
	margin-bottom: 15px;
}
.fa-times-circle-o {
	padding: 5px 20px 0 0;
	float: right;
	cursor: pointer;
}
.full-height {
	background-color: #15b374;
	max-height: 100%;
	position: fixed;
}
/* MENU */
.padding-for-menu-col2{
	padding: 0;
	-webkit-box-shadow: 3px 0px 5px -2px #888 ;
}
#menu {
	background-color: #C6D1D3;
	width: 100%;
	height: 100%;
}
#menu a {
	text-decoration: none;
	color: #f6f6f6;
}
#menu ul{
	padding: 0;
}
#menu ul ul {
	display: none;
	padding: 0;
}
#menu li.active ul {
	display: block;
}
#menu li {
	font-size: 1.3em;
	margin: 0 0 0.25em;
	list-style-type: none;
	background-color: #C6D1D3;
	line-height: 35px;
	padding: 10px 10px 10px 0;
	color: #f6f6f6;
	
	background-color: #15b374;
	text-align: center;
}

#menu li h3 {
	padding: 0;
	margin: 0;
}




#menu li:hover {

	

	
	
	background-color: #7fcaac;
	/*border-bottom:2px solid #25a25a;*/
}
/*links*/
#menu ul ul li a {
	color: white;
	text-decoration: none;
	font-size: 14px;
	line-height: 45px;
	display: block;
	padding: 0 10px;
}
/*hover effect on links*/
#menu ul ul li a:hover {
	border-right: 5px solid #15b374;
	background-color: #7fcaac;
}
#menu li.active ul {
	display: block;
}

/* STARTPAGINA */
.sorteren-blok {
	margin-top: 15px;
	width: 20%;
	float: left;
}
.zoeken-blok {
	margin-top: 15px;
	width: 40%;
	float: left;
}
select {
	margin-right: 4px;
}
/* ICONS FONT AWESOME */
.fa-flag{
	margin-right: 5px;
}
.fa-calendar-o {
	margin-right: 8px;
}
.fa-map-marker {
	margin-right: 13px;
	padding-left: 3px;
}
.fa-color {
	color: rgb(51, 51, 51);
}
/* ACTIVITEITEN */
.activiteit-eigen {
	background-color: rgba(0, 188, 119, 0.4);
	padding: 5px 0 1px 5px ;
	margin-top: 15px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.activiteit-eigen h3 {
	margin-top: 0px;
}

/* WORDT NU NIET MEER GEBRUIKT?!*/
/*.activiteit-algemeen {
	background-color: #f8f5e7;
	padding: 5px ;
	margin-top: 15px;
}
.activiteit-algemeen h3 {
	margin-top: 5px;
}*/
.activiteit {
	margin-top: 0px;
	border-left: 4px solid #eee;
}
.activiteit h3 {
	margin-top: 10px;
}
.activiteit-prive {
	border-color: rgba(0, 188, 119, 0.4);
	padding: 3px 0 13px 5px;
	margin: 10px 0;
	background-color: #ffffff;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.activiteit-prive:hover {
	background-color: #c3d2d4;
}
.activiteit-open {
	border-color: #f8f5e7;
	padding-left: 5px;
	padding-bottom: 13px;
	padding-top: 5px;
	margin: 10px 0;
}
.tijd-tot {
	float: right;
	height: auto;
	width: auto;
	margin: 10px 3px 0 0;
	padding: 3px;
}
.scheiding {
	border-top: 2px solid rgba(192,192,192,0.3);
	border-top-width: 90%;
}
.nul-padding {
	padding-left: 0;
}
.fa-chevron-up, .fa-chevron-down {
	padding-top: 9px;
} 

/* PROFIELPAGINA */
.achtergrond-h3 {
	background-color: #d5d5d5;
	margin: 35px 0 10px 0;
	padding: 8px 0 8px 3px;
}
.achtergrond-h3 h3 {
	margin: 0;
}


/*UNCOMMITED by JORIK 9 dec 2013 */

/*img{
	position: relative;
	width: 150px;
	height: 150px;
	border-radius: 75px;
	-webkit-border-radius: 75px;
	-moz-border-radius: 75px;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}
#userinfo{
	border: 1px solid gray;
	padding: 10px;
}*/

.button {
  	-webkit-border-radius: 4;
  	-moz-border-radius: 4;
  	border-radius: 4px;
  	color: #ffffff;
  	font-size: 16px;
  	padding: 10px 20px 10px 20px;
  	text-decoration: none;
  	border: 0;
  	font-weight: bold;
}
.button-default {
	background-color: #999999;
	-webkit-box-shadow: 0px 2px 0px #808080;
 	-moz-box-shadow: 0px 2px 0px #808080;
  	box-shadow: 0px 2px 0px #808080;
}
.button-default:hover {
	background-color: #808080;
	text-decoration: none;
}
.button-green {
	background-color: #00bc77;
	-webkit-box-shadow: 0px 2px 0px #00918a;
  	-moz-box-shadow: 0px 2px 0px #00918a;
  	box-shadow: 0px 2px 0px #00918a;
}
.button-green:hover {
	background: #03ac6e;
  	text-decoration: none;
}
.button-blue {
	background-color: #3868b5;
	-webkit-box-shadow: 0px 2px 0px #305099;
  	-moz-box-shadow: 0px 2px 0px #305099;
  	box-shadow: 0px 2px 0px #305099;
}
.button-blue:hover {
	background-color: #365fa1;
	text-decoration: none;
}
.button-large {
	width: 100%;
}

.no-margin {
	margin: 0;
	padding: 0;
}

/*
.bttnn {
  display: inline-block;
  vertical-align: top;
  height: 45px;
  line-height: 1;
  padding: 0 16px;
  font-size: 16px;
  color: #243140;
  text-align: center;
  text-shadow: 0 1px rgba(255,255,255,0.2);
  background: #e5e7ed;
  border: 0;
  border-radius: 2px;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.bttnn-green {
  color: white;
  text-shadow: 0 1px rgba(0,0,0,0.08);
  background: #27ae60;
}
.bttnn-large {
	width: 100%;
}
.bttnn-green:hover {
  color: white;
  text-shadow: 0 1px rgba(0,0,0,0.08);
  background: #2e9d5d;
}*/
