@import url(http://fonts.googleapis.com/css?family=Montserrat);
/* Global*/
body {
	/*rest wordt uit bootstrap body gehaald > nog aanpassen?*/
	padding-bottom: 50px;
	/*padding-top: 110px; nodig wanneer nav op static wordt gezet!*/
}
.bg {
	background-color: #ecf0f1;
	overflow: hidden !important;
}
/* profielgedeelte */
.profiel {
	/*float: right;*/
	margin: auto;
	/*padding: 25px 0 0 0;*/
}
.profielfoto {
	border: solid 1px rgba(0,0,0,0.1);
	margin: 0 15px 0 0;
}
.logo {
	padding: 10px 0 0 0;
	margin: auto;
}
.logo1 {
	width: 60%;
	height: auto;
	float: left;
}
.tekstheader {
	width: 40%;
	height: auto;
	float:right;
}
.border {
	 border-right: 2px solid rgba(0,0,0,0.3);
}
.badgebg {
	background-color: #2ecc71;
}

#gmaps-canvas {
  height: 400px !important; 
  border: 1px solid #999;
  -moz-box-shadow:    0px 0px 5px #ccc;
  -webkit-box-shadow: 0px 0px 5px #ccc;
  box-shadow:         0px 0px 5px #ccc;
}
#gmaps-error {
  color: #cc0000;
}
#input #gmaps-output-latitude, #input #gmaps-output-longitude {
  color: green;
}
.col-md-5 {
	margin-bottom: 25px;
}
/*style for adding and removing contacts*/
#addperson {
	list-style: none;
	padding: 0;
}
li.invited {
	padding: 0 0 0 20px;
	line-height: 38px;
	font-weight: bold;
}
li.grey {
	background-color: #ecf0f1;
}

/*END style for adding and removing contacts*/

/* space between date & time div and the next ( type activiteit ) input */
.margin-for-date {
	margin-bottom: 15px;
}
.fa-times-circle-o {
	padding: 5px 20px 0 0;
	float: right;
	cursor: pointer;
}
